@font-face {
  font-family: 'Norse-Bold';
  src: url('fonts/Norse-Bold.otf') format('opentype');
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Left Section */

.left-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: max(300px, 35vw);
  color: white;
}

.odin-logo-card {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 25vh;
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 8px 0;
  font-family: 'Norse-Bold', Fallback, sans-serif;
}

.odin-logo-card h1 {
  margin: 0;
}

.odin-logo-card img {
  height: 95%;
}

.background-image {
  height: 100vh;
  filter: brightness(80%);
  object-fit: cover;
}

.image-credit {
  position: absolute;
  bottom: 0;
  align-self: center;
  font-size: 0.8rem;
}

.image-credit a {
  color: white;
}

/* Main/Right Section */

main {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main p {
  padding: 0 52px;
}

main p:nth-child(-n + 2) {
  font-size: 1.3rem;
  font-weight: bold;
}

main p:first-child {
  margin: 0 10vw 0 0;
  font-size: 2.4vh;
}

form {
  width: auto;
}

fieldset {
  width: 100%;
  height: 250px;
  background: white;
  margin: 32px 0;
}
